@model ProgrammerModel
@{
    /**/

    ViewBag.Title = "Delete";
}

<!-- Title-->
<h2>Delete</h2>
<h3>Are you sure you want to delete this programmer ?</h3>

<!--Forms-->
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Full Name
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.FirstName)
            @Html.DisplayFor(modelItem => modelItem.LastName)
        </dd>
        <dt>
            Skills
        </dt>
        <dd>
            @{var skillName = string.Join(", ", Model.Skills.Select(n => n.Name)).ToList();}

            @foreach (var skill in skillName)
            {
                @Html.DisplayFor(modelItem => skill)
            }
        </dd>
    </dl>

    <!--Buttons-->
    <button class="btn btn-default" data-toggle="modal" data-target="#DeleteModal">Delete</button>
    @Html.ActionLink("Back to List", "IndexProgrammer", null, new { @class = "btn" })
</div>

<!--Modal-->
@using (Html.BeginForm())
{
    <div class="modal fade" id="DeleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Woah There!</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this programmer!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <input type="submit" class="btn btn-default" value="Yes">
                </div>
            </div>
        </div>
    </div>
}
