.btn {
    background-color: #81007f;
    color: #fafafa;
}

    .btn:hover {
        background-color: #a32cc4;
        color: #fafafa;
    }

#search-form {
    float: right;
}

#search-form_submitButton {
    float: right;
    margin-bottom: 2%;
}

#alert-container {
    margin-top: 1%;
}

#arrow {
    position: fixed;
    bottom: 21px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
}

    #arrow i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
    }

    #arrow:hover {
        background: rgba(0, 0, 0, 0.9);
    }
