.btn {
    background-color: #81007f;
    color: #fafafa;
}

    .btn:hover {
        background-color: #a32cc4;
        color: #fafafa;
    }

#arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
}

    #arrow i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
    }

    #arrow:hover {
        background: rgba(0, 0, 0, 0.9);
    }
